<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>242098908948-t9kpoik7dkvf9jml9e6s2k6aq0p8t0rc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.242098908948-t9kpoik7dkvf9jml9e6s2k6aq0p8t0rc</string>
	<key>API_KEY</key>
	<string>AIzaSyDkUpbwCoqxOf4DZGEKBBCz_svyjGe8_0o</string>
	<key>GCM_SENDER_ID</key>
	<string>242098908948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebase</string>
	<key>PROJECT_ID</key>
	<string>login-demo-e67c3</string>
	<key>STORAGE_BUCKET</key>
	<string>login-demo-e67c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242098908948:ios:374210c92b0d5664</string>
	<key>DATABASE_URL</key>
	<string>https://login-demo-e67c3.firebaseio.com</string>
</dict>
</plist>